* {
    margin: 0;
    padding: 0;
    }
.wrapper {
    max-width: 1020px;
 }

.header {
    max-width: 1020px;
    background-color: #2d303a;
    height: 89px;
}
.header_wrapper {
    max-width: 1020px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}

.logo {
    display: flex;
    margin-left: 38px;
    margin-top: 30px;
}

h1 {
    font-size: 25px;
    line-height: 6px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 700;
    text-align: left;
}

.logo p {
    font-size: 25px;
    line-height: 6px;
    color: #f06c64;
    font-family: "Lato";
    font-weight: 700;
    text-align: left;
}
.header-navigation {
    position: relative;
    margin-right: 30px;
    margin-top: 40px;
}
.navigation li {
    display: inline-block;
    
}

.navigation  {
list-style: none;
}

/*убераем подчеркивание отступ между ссылками */
.navigation a {
    text-decoration: none;
    padding: 0px 12px;  
    display: block;
    color:  #ffffff;
    font-family: 'Lato';
    font-size: 12px;
    line-height: 6px;
    font-weight: 700;
}

/*меняет цвет при наведении*/
.navigation a:hover {
    color: #f06c64; 
    text-decoration: underline #494e62;
}

/*точки между ссылками в меню*/
li::before {    
    display: inline-block;
    content: ".";
    color: #494e62;
    position: absolute;
    margin-top: -10px;
}

/*не показывать первый символ */
li:first-child::before { 
    display: none;
}

.header-footer {
    height: 6px;
    background-color: #323746;
}
.slider {
    max-width: 1020px;
    height: 594px;
    background-color:  #f06c64;
    display: flex;
}

.slider-footer {
    height: 6px;
    background-color: #ea676b;
}

.our-services {
    height: 495px;
    background-color: #f2f2f2;
}

.our-services-footer {
    height: 6px;
    background-color: #ffffff;
}

.h2-services {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    padding-top: 67px;
    padding-left: 40px;
}

.text-center {
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
    padding-top: 28px;
    padding-left: 40px;
    max-width: 940px;
    height: 57px;
}

.loyout_3_column  {
    display: grid;
    grid-template-columns: 59px 219px 59px 219px 59px 219px;
    grid-template-rows: 59px 128px 59px 128px 59px 128px;
    position: absolute;
    grid-column-gap: 21px;
    grid-row-gap: 65px;
    padding-top: 49px;
    padding-left: 40px;
    max-width: 940px;
    
} 

h3 {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
}    

.text_loyout p {
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    padding-top: 9px;
}

.iphone-v {
    margin-left: 13px;
    margin-top: 53px;
    }
    
    .iphone-h {
    margin-top: 174px;
    margin-left: 66px;
    }
    
    .chev-le {
    margin-left: 40px;
    margin-right: auto;
    margin-top: 280px;
    }
    
    .chev-ra {
    margin-top: 280px;
    margin-left: auto;    
    margin-right: 40px;
    }